<% if learnings.present? %>
  <table class="table">
    <thead>
      <tr>
        <th class="col-md-3">Lecture</th>
        <th class="col-md-2">Course</th>
        <th class="col-md-2">Teacher</th>
        <th class="col-md-2 text-center">Credits</th>
        <% if current_user? @user %>
          <th>Mid.</th>
          <th>Fin.</th>
          <th>Sum.</th>
        <% end %>
        <th class="col-md-2"></th>
      </tr>
    </thead>
    <tbody>
      <% learnings.order(id: :desc).each do |learning| %>
        <%= render "learning", learning: learning %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="well well-sm">Cannot found any course.</div>
<% end %>
