<table class="table table-striped">
  <thead>
    <tr>
      <th>Course</th>
      <th>Lecture</th>
      <th>Teacher</th>
      <th>Semester</th>
      <th>School Year</th>
      <th>Numerator</th>
      <% if current_user&.student? %>
        <th>Action</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%= render courses %>
  </tbody>
</table>
