<% provide :title, "Add course" %>
<% provide :button_text, "Add course" %>
<div class="container">
  <div class="col-md-3">
    <%= render "shared/brand" %>
  </div>
  <div class="col-md-9">
    <h3>Add course</h3>
    <%= render "form" %>
  </div>
</div>
