@import 'bootstrap-sprockets';
@import 'bootstrap';

input {
  margin-bottom: 10px;
}

#body {
 margin: 70px 0 70px;
}

.gravatar {
  border-radius: 50%;
}

.dropdown-toggle {
  .gravatar {
    margin: -11px;
    margin-right: 5px;
  }
}
