@import 'bootstrap-sprockets';
@import 'bootstrap';

#body {
 margin: 90px 0 70px;
}

.gravatar {
  border-radius: 50%;
}

.dropdown-toggle {
  .gravatar {
    margin: -11px;
    margin-right: 5px;
  }
}

a:hover {
  text-decoration: none;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > thead > tr > th {
  vertical-align: middle;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
