<div class="text-center">
  <%= image_tag "https://www.vnu.edu.vn/upload/2010/08/61/image/VNU-UET.jpg", size: 240 %>
  <h1>
    <%= t ".university" %>
  </h1>
</div>
<%= render "layouts/search_users" %>
